/* line 7, app/assets/stylesheets/card.scss */
div.card {
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 10px auto;
  padding: 10px 10px;
}

/* line 14, app/assets/stylesheets/card.scss */
.addCard {
  width: 70%;
  margin: auto;
}

/* line 18, app/assets/stylesheets/card.scss */
.card_title,
.card_detail {
  color: #000;
}

/* line 22, app/assets/stylesheets/card.scss */
path {
  color: #000;
}

/* line 27, app/assets/stylesheets/card.scss */
div.container {
  background: #fff;
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 0px;
}

/* line 34, app/assets/stylesheets/card.scss */
.cardContents {
  width: 100%;
  position: relative;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 20px;
}

/*
div.carddetailPage {
    background-image: url('desk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
*/
/* line 49, app/assets/stylesheets/card.scss */
.carddetailPage {
  padding: 20px 0px;
}

/* line 53, app/assets/stylesheets/card.scss */
.cardContents::before,
.cardContents::after {
  position: absolute;
  bottom: 10px;
  z-index: -1;
  content: '';
  width: 50%;
  height: 50%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

/* line 63, app/assets/stylesheets/card.scss */
.cardContents::before {
  left: 10px;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

/* line 68, app/assets/stylesheets/card.scss */
.cardContents::after {
  right: 10px;
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}

/* line 74, app/assets/stylesheets/card.scss */
.cardContents_title,
.cardContents_memo,
.cardContents_listStatus {
  margin: 20px 0px;
}

/* line 79, app/assets/stylesheets/card.scss */
.cardContents_title-index {
  color: #000;
  font-weight: bold;
}

/* line 83, app/assets/stylesheets/card.scss */
.cardContents_title-contenttitle {
  color: #007bff;
}

/* line 87, app/assets/stylesheets/card.scss */
.cardContents_memo-index {
  color: #000;
  font-weight: bold;
}

/* line 91, app/assets/stylesheets/card.scss */
.cardContents_memo-content {
  color: #007bff;
}

/* line 95, app/assets/stylesheets/card.scss */
.cardContents_listStatus-index {
  color: #000;
  font-weight: bold;
}

/* line 99, app/assets/stylesheets/card.scss */
.cardContents_listStatus-listtitle {
  color: #007bff;
}

/* line 102, app/assets/stylesheets/card.scss */
a.edit_btn {
  color: #007bff;
}

/* line 105, app/assets/stylesheets/card.scss */
input.submitBtn {
  color: #007bff;
}

/* line 108, app/assets/stylesheets/card.scss */
a.addCard_link {
  color: #282828;
}
