@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

$background_theme: #007bff;

// ここに書かれたスタイルが最優先される

// devise login
.login-field {
    text-align: center;
    width: 50%;
    margin: auto;
}