<div class='carddetailPage'>
  <div class="container">
    <div class="cardContents">
      <div class="cardContents_title">
        <div class="cardContents_title-index">タイトル</div>
        <div class="cardContents_title-contenttitle"><%= @card.title %></div>
      </div>
      <div class="cardContents_memo">
        <div class="cardContents_memo-index">メモ</div>
        <div class="cardContents_memo-content"><%= @card.memo %></div>
      </div>
      <div class="cardContents_listStatus">
        <div class="cardContents_listStatus-index">リスト名</div>
        <div class="cardContents_listStatus-listtitle"><%= @card.list.title %></div>
      </div>
    </div>
  </div>
</div>