/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

// 変数定義
$background_theme: #282828;
$card_theme: #fff;
// 共通コンポーネント
* {
    color: rgb(216, 215, 2);
    padding: 0;
    margin: 0;
}
a {
    color: #fff;
}
a.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 0;
    padding: 10px 0px 10px 0px;
}
ul,
li {
    list-style: none;
}
ul.header_menu {
    margin-bottom: 0rem;
}
body {
    background-image: url('desk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
// エラー文、通知の表示
.notice,
.alert {
    display: none;
}

// Header部分始め
body {
    header {
        nav.header_nav {
            background-color: $background_theme;
            ul.header_menu {
                display: flex;
                justify-content: space-around;
                li.header_username {
                    padding: 10px 0px 0px 0px;
                    .UserName {
                        color: #fff;
                        text-decoration: none;
                    }
                }
                li.header_function-list-area {
                    ul.header_function-lists {
                        display: flex;
                        li{
                        }
                    }
                }
            }
        }
    }
}

// devise login
.login-field {
    text-align: center;
    width: 50%;
    margin: auto;
}