// Place all the styles related to the card controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$background_theme: #282828;
// --------cardコンポーネントに関する部分-------
div.card{
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 10px auto;
    padding: 10px 10px;
}
.addCard {
    width: 70%;
    margin: auto;
}
.card_title,
.card_detail {
    color: #000;
}
path {
    color: #000;
}

// -----card詳細表示ページに関する部分-------
div.container {
    background: #fff;
    width: 70%;
    display: flex;
    justify-content: center;
}

.cardContents {
    width: 45%;
    position: relative;
    border: 1px solid #000;
    text-align: center;
    padding: 20px 20px;
}
// box-shadow:{box-shadow: 左右の向きpx  上下の向きpx ぼかしpx 広がりpx 色 内側指定;}
.cardContents::before,
.cardContents::after {
  position: absolute;
  bottom: 10px;
  z-index: -1;
  content: '';
  width: 50%;
  height: 50%;
  box-shadow: 0 10px 15px rgba(0,0,0,.5);
}
.cardContents::before {
  left: 10px;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.cardContents::after {
  right: 10px;
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}

.cardContents_title,
.cardContents_memo,
.cardContents_listStatus {
    margin: 20px 0px;
}
.cardContents_title-index {
    color: #000;
    font-weight: bold;
}
.cardContents_title-contenttitle {
    color: #007bff;
}

.cardContents_memo-index {
    color: #000;
    font-weight: bold;
}
.cardContents_memo-content {
    color: #007bff;
}

.cardContents_listStatus-index {
    color: #000;
    font-weight: bold;
}
.cardContents_listStatus-listtitle {
    color: #007bff;
}
a.edit_btn {
    color: #007bff;
}
input.submitBtn {
    color: #007bff;
}
a.addCard_link {
    color: $background_theme;
}
