// Place all the styles related to the card controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// --------cardコンポーネントに関する部分-------
div.card{
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 10px auto;
    padding: 10px 10px;
}
.addCard {
    width: 70%;
    margin: auto;
}
.card_title,
.card_detail {
    color: #000;
}
path {
    color: #000;
}

// -----card詳細表示ページに関する部分-------
.cardContents_title-index {
    color: #000;
    font-weight: bold;
}
.cardContents_title-contenttitle {
    color: #007bff;
}

.cardContents_memo-index {
    color: #000;
    font-weight: bold;
}
.cardContents_memo-content {
    color: #007bff;
}

.cardContents_listStatus-index {
    color: #000;
    font-weight: bold;
}
.cardContents_listStatus-listtitle {
    color: #007bff;
}
