// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$background_theme: #282828;
$card_theme: #fff;
// index:List一覧ページのスタイル
/*
div.topPage {
    background-image: url('desk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
*/
.listWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.list {
    width: 40%;
    background-color: $card_theme;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 10px 0px;
}
.list_header {
    background-color: $background_theme;
    width: 90%;
    margin: 0px auto;
    border-radius: 5px;
    text-align: center;
}
svg:not(:root).svg-inline--fa {
    color: #fff;
}
path {
    color:$background_theme;
}

// devise login
.login-field {
    text-align: center;
    width: 50%;
    margin: auto;
}

// ---------responsive-----------
@media screen and (max-width: 768px) {
    .list {
      width: 80%;
    }
  }

