// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// index:List一覧ページのスタイル
.listWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.list {
    width: 40%;
}
.list_header {
    background-color: turquoise;
    width: 90%;
    margin: 10px auto;
}
