// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// index:List一覧ページのスタイル
.listWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.list {
    width: 40%;
    background-color: lavender;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 10px 0px;
}
.list_header {
    background-color: #007bff;
    width: 90%;
    margin: 0px auto;
    border-radius: 5px;
    text-align: center;
}
svg:not(:root).svg-inline--fa {
    color: #000;
}
.path {
    color:#000;
}

// ---------responsive-----------
@media screen and (max-width: 768px) {
    .list {
      width: 80%;
    }
  }

