<!DOCTYPE html>
<html>


  <body>
    <%# ログインしているユーザーのみHeader表示 %>
    <% if current_user %>
      <%= render 'partial/header' %>
    <% end %>

    <%# ==========Flash message========== %>
    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%# ==========Flash message End========== %>
    <%= yield %>
  </body>
</html>
